*{
	font-family: 'Work Sans', sans-serif;
}

#dvcontenido
{
	width: 100%;
}

.contenidoIS
{
	width: 100%;
}

.contenido
{
	margin: 30px;
}

.txtInicioSesion
{
	font-family: 'Work Sans', sans-serif;
	width: 20%;
	height: 100%;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom-color: #8E939B;
}

#btnIniciarsesion
{
	text-decoration: none;
    padding: 10px;
    font-weight: 400;
    font-size: 120%;
    color: #ffffff;
    background-color: #1478FE;
    border-radius: 6px;
    border: 2px solid 07D6D3;
    width:15%;
}

#btnIniciarsesion:hover{
color: #1883ba;
background-color: #ffffff;
}