<center>
<h3>Red Operativa de Seguridad Aplicada</h3>
<div id="dvcontenido">
	<div id="dvimgheaderIS" class="contenidoIS">
		<img src="assets/seguridad.gif" id="imgseguridad" width="80%">	
	</div>
	<div id="dvbodyIS" class="contenidoIS">
		<div id="dvusernameIS" class="contenido">
			<input type="text" name="txtUsername" id="txtUsername" placeholder="Nombre de Usuario" class="txtInicioSesion">
		</div>
		<div id="dvpasswordIS" class="contenido">
			<input type="password" name="txtPassword" id="txtPassword" placeholder="Contraseña" class="txtInicioSesion">		
		</div>
		<div id="dvbtnIS" class="contenido">
			<input type="button" name="btnIniciarsesion" id="btnIniciarsesion" value="Iniciar Sesion">
		</div>
	</div>
	<a href="#">¿Olvidó su contraseña?</a>
</div>
</center>