.content-log{
    width: 70%;
    margin: 0 auto;
}

.img-logo
{
    width: 90%;
    height: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-text{
    text-align: center;
}

h1{
    font-size: 5vw;
}